# Ignore Gradle build folder
/build/
/out/
/bin/

# Ignore the Gradle wrapper files
/gradle/
/.gradle/

# Ignore IDE files
/.idea/
/.vscode/
/*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log